.class-character {
  padding: 0;
  .character-list {
    .list-item {
      position: relative;
      height: 70vh;
      .boxed-img {
        position: relative;
        width: 100%;
        height: 100%;
      }
      .boxed-img:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10;
      }
      .boxed-content {
        position: absolute;
        z-index: 12;
        width: 100%;
        max-width: 1000px;
        height: auto;
        top: 50%;
        left: 111px;
        transform: translateY(-50%);
        .title-character {
          font-size: 60px;
          margin-bottom: 50px;
          line-height: 1.2;
          background: #ffffff4f;
          padding: 0 5px;
          position: relative;
          display: inline-block;
          transition: 0.3s all;
        }
        .title-character:hover {
          background-color: transparent;
        }
        .title-character:before {
          content: "";
          position: absolute;
          left: -10px;
          top: 50%;
          background-image: url(../images/character/before-after-text.png);
          width: 100%;
          height: 130%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          transform: translate(-50%, -50%);
        }
        .title-character:after {
          content: "";
          position: absolute;
          right: -65px;
          background-image: url(../images/character/before-after-text.png);
          width: 55px;
          height: 130%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          transform: translate(-50%, -50%) rotate(-180deg);
          top: 52%;
        }
        .desc-character {
          font-size: 30px;
          font-weight: normal;
          p {
            margin-bottom: 0;
            text-transform: uppercase;
          }
        }
        .btn-second-small {
        }
      }
    }
  }
}
.character-list .btn-second-small{
  position: relative;
  transition: 0.25 ease;
  line-height: 180%;
}
.character-list .btn-second-small span{
  position: relative;
  font-family: "AquireBold";
}
.character-list .btn-second-small span:before{
  box-sizing: border-box;
  content: attr(data-innertext);
  left: 0px;
  top: -15px;
  opacity: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: yellow;
}
.character-list .btn-second-small span:after{
  box-sizing: border-box;
  content: attr(data-innertext);
  left: 0px;
  top: -15px;
  opacity: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: white;
}
.character-list .btn-second-small:hover {
  background-color: rgba(0, 0, 0, 0.651);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
z-index: 1;
border-image-slice: 0;
}
.character-list .btn-second-small:hover span::before {
  animation: glitch .2s cubic-bezier(.25,.46,.45,.94) infinite both;
  opacity: 0.7;
}
.character-list .btn-second-small:hover span::after {
  animation: glitch .2s cubic-bezier(.25,.46,.45,.94) infinite reverse both;
  opacity: 0.7;
}
.slick-slider img.slick-arrow {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 5px;
  background: rgba(255, 255, 255, 0.55);
  transition: 0.3s all;
}
.slick-slider img.slick-arrow:hover {
  box-shadow: 0 0 20px $primary-color;
}
img.a-right.control-c.next.slick-next.slick-arrow {
  right: 0;
  border-radius: 10px 0 0 10px;
}
img.a-left.control-c.prev.slick-prev.slick-arrow {
  left: 0;
  border-radius: 0 10px 10px 0;
}
.class-character .character-list .list-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: black;
}
.class-character
  .character-list
  .list-item
  .boxed-content
  .title-character:hover {
  box-shadow: 0 0 30px red;
}
@media screen and (max-width: 1440px) {
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 55px;
  }
}
@media screen and (max-width: 1320px) {
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .class-character .character-list .list-item .boxed-content .desc-character {
    font-size: 18px;
    p {
      margin-bottom: 10px;

    }
  }
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 40px;
    padding: 12px 10px;
  }
  .boxed-content .btn-second-small {
    margin: 25px 0;
    font-size: 20px;
    padding: 0 40px;
    height: 55px;
    line-height: 55px;
  }
  .btn-second-small:before {
    box-shadow: 0 65px 0 0 white;
  }
  .btn-second-small:after {
    box-shadow: 0 65px 0 0 white;
  }
}
@media screen and (max-width: 991px) {
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 35px;
    padding: 12px 10px;
  }
}

@media screen and (max-width: 767px) {
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 30px;
    padding: 12px 10px;
  }
  .class-character .character-list .list-item .boxed-content {
    left: 70px;
  }
  .btn-second-small:before {
    box-shadow: 0 65px 0 0 white;
  }
  .btn-second-small:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    top: -10px;
    left: -10px;
    box-shadow: 0 60px 0 0 white;
    transition: 0.2s all;
  }
  .btn-second-small:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    top: -10px;
    right: -10px;
    box-shadow: 0 60px 0 0 white;
    transition: 0.2s all;
  }
  .btn-second-small:hover:before,
  .btn-second-small:hover:after {
    background: red;
    box-shadow: 0 60px 0 0 red;
    border-radius: 10rem;
  }
  .slick-slider img.slick-arrow {
    width: 30px !important;
  }
}
@media screen and (max-width: 580px) {
  .class-character .character-list .list-item .boxed-content {
    left: 45px;
  }
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 26px;
    padding: 12px 10px;
  }
  .class-character .character-list .list-item .boxed-content .desc-character {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .class-character .character-list .list-item .boxed-content {
    left: 50px;
  }
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 22px;
    padding: 12px 10px;
  }
  .slick-slider img.slick-arrow {
    width: 25px !important;
  }
}
@media screen and (max-width: 375px) {
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 16px;
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  .class-character .character-list .list-item .boxed-content .title-character {
    font-size: 15px;
    padding: 20px 10px;
    margin-bottom: 30px;
  }
  .class-character .character-list .list-item .boxed-content .desc-character {
    font-size: 12px;
  }
  .boxed-content .btn-second-small {
    margin: 25px 0;
    font-size: 20px;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
  }
  .btn-second-small:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    top: -10px;
    left: -10px;
    box-shadow: 0 55px 0 0 white;
    transition: 0.2s all;
  }
  .btn-second-small:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    top: -10px;
    right: -10px;
    box-shadow: 0 55px 0 0 white;
    transition: 0.2s all;
  }
}
