.economics{
    background-image: url(../images/bg-section/bg-section-economic.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    background-repeat: repeat-x;
    .grid-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        .grid-item{
            .boxed-img{
                transition: 0.15s all;
                margin-bottom: 0;
            }
            .grid-content{
                padding:  20px;
                position: relative;
                .title-item{
                    color: $primary-color;
                    text-transform: uppercase;
                    font-size: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    z-index: 1;
                }
            }
            .grid-content:after{
              content:"";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-image: url(../images/features/bg-overlay-item-features.png);
              opacity: 0;
              visibility: hidden;
              filter: brightness(0.6);
              z-index: 0;
            }
            .grid-content::before{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 30%;
              left: 30%;
              background-image: url(../images/features/electric-red.png);
              opacity: 0;
              visibility: hidden;
              background-size: cover;
              background-position: center;
              transform: translate(-50%, -50%);
              z-index: 0;
            
            }
        }
        .grid-item:hover .title-item {
          color: red;
        }
      }
    }
    .economics .grid-item:hover .title-item {
      animation: glitch-text .1s steps(1) 6 alternate forwards,glitch-blink .3s steps(1) 2;
      text-shadow: 1px 1px 5px white;
    }
    .economics .grid-item:hover .grid-content::after {
      animation: news-flash-red .6s ease-in-out forwards,glitch-bg-position .3s linear 3 alternate forwards;
      opacity: 0.2;
      visibility: visible;

    }
    .economics .grid-item:hover .grid-content::before {
      opacity: 0.3;
      visibility: visible;
      animation: glitch-text .05s steps(2) 10 alternate forwards,glitch-blink .1s steps(1) 2;

    }
.economics .grid-item:hover {
  .boxed-img {
    transform: scale(1.02);
    filter: drop-shadow(0 0 10px lightgrey);
  }
}
.economics .grid-box .grid-item:hover .content-item {
  transform: scale(1.02);
}
@media screen and (max-width: 1280px) {
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .economics .grid-box .grid-item .desc-item {
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
    .economics{
        background-size: inherit;
        background-position: center;
        padding-top: 40px;
        background-repeat: inherit;
    }
    
.economics .grid-box {
    grid-gap:25px ;
    grid-template-columns: 1fr 1fr;
    .grid-item:last-child {
      width: 100%;
      position: relative;
      left: 50%;
    }
  }
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .economics .grid-box .grid-item .grid-content .desc-item {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .economics .grid-box .grid-item {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
  }

  .economics .grid-box {
    grid-gap: 25px;
    grid-template-columns: 1fr;
    text-align: center;
    .grid-item:last-child {
      width: 100%;
      position: relative;
      left: 0;
    }
  }
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .economics .grid-box .grid-item .grid-content .desc-item {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
