.economics{
    background-image: url(../images/bg-section/bg-section-economic.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    background-repeat: repeat-x;
    .grid-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        .grid-item{
            .boxed-img{
                transition: 0.3s all;
                margin-bottom: 0;
            }
            .grid-content{
                padding:  20px;
                .title-item{
                    color: $primary-color;
                    text-transform: uppercase;
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        .grid-item:hover .title-item {
          color: red;
        }
      }
    }
.economics .grid-item:hover {
  .boxed-img {
    transform: scale(1.02);
    filter: drop-shadow(0 0 20px red);
  }
}
@media screen and (max-width: 1280px) {
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .economics .grid-box .grid-item .desc-item {
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
    .economics{
        background-size: inherit;
        background-position: center;
        padding-top: 40px;
        background-repeat: inherit;
    }
    
.economics .grid-box {
    grid-gap:25px ;
    grid-template-columns: 1fr 1fr;
    .grid-item:last-child {
      width: 100%;
      position: relative;
      left: 50%;
    }
  }
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .economics .grid-box .grid-item .grid-content .desc-item {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .economics .grid-box .grid-item {
    position: relative;
    max-width: 500px;
    margin: auto;
  }

  .economics .grid-box {
    grid-gap: 25px;
    grid-template-columns: 1fr;
    text-align: center;
    .grid-item:last-child {
      width: 100%;
      position: relative;
      left: 0;
    }
  }
  .economics .grid-box .grid-item .grid-content .title-item {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .economics .grid-box .grid-item .grid-content .desc-item {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
