.how_to_play{
background-color:$primary-color;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
.heading-section{
    position: absolute;
    right: 10%;
    top: 40px;
    z-index: 102;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    .title{
        font-size: 60px;
        font-family: 'AquireBold';
        text-transform: uppercase;
        color: white;
        line-height: 1;
    font-family: "AquireBold";
    text-transform: uppercase;
    color: white;
    line-height: 1;
        padding:0 30px;
        margin-bottom: 5px;
        background: $primary-color;
        text-align: right;
        position: relative;
    }
    .title:before, .title:after{
        content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    }
    .title:before {
        left: -30px;
        text-shadow: -3px 0 #dddddd;
        clip: rect(44px, 450px, 56px, 0);
        animation: glitch-anim 2s linear infinite alternate-reverse;
    }
    .title:after {
        left: -30px;
        text-shadow: -3px 0 #45fff6;
        clip: rect(44px, 450px, 56px, 0);
        animation: glitch-anim 2s linear infinite alternate-reverse;
        animation-duration: 0.8s;
    }
}
a.btn--close {
    color: white;
    line-height: 0;
    padding: 10px;
    background: $primary-color;
    height: 50px;
    width:50px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    ion-icon{
        margin-bottom: 10px;
        font-size: 22px ;
    }
}
a.btn--close:before{
    content:"";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #E5650E;
    top:0;
    left: 0;
    transform: rotate(45deg);
    z-index: -1;
    transition: 0.25s ease;
    opacity: 0.7;

}
a.btn--close:hover, a.btn--close:hover::before {
    box-shadow: 0 0 10px white;
}
    .container-fluid{
        width: 100%;
        max-width: unset;
        height: auto;
        padding: 0;
    }
    .grid-boxed{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100vh;
        grid-gap: 0;
    .grid-item{
        position: relative;
    }
    .grid-item:before{
        content: "";
        position: absolute;
        top: 0;
        left: -2px;
        width: 4px;
        height: 100%;
        background: radial-gradient(at 50% 50% , #ffffff, transparent 76%);
        background-size: 4px 100%;
        background-repeat: no-repeat;
        z-index: 100;
    }
    .grid-item:first-child:before {
        display: none;
    }
    }
.box_overlay{
    position: relative;
    height: 100%;
    .img-main{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: contain;
    }
    .character1{
        transform: translate(-63%, -49%);
        width: 90%;
    }
    .character2{
        transform: translate(-50%, -41%);
        filter: hue-rotate(
            348deg) contrast(1.1);
        width: 78%;
    }
}
.content{
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    .title{
        font-size: 65px;
        font-family: 'AquireBold';
        color: $primary-color;
        text-shadow: 2px 2px 1px white;
        margin-bottom: 30px;
        line-height: 1;
    }
    a.btn-primary{
        font-size: 22px;
        color: black;
        text-transform: uppercase;
        padding: 10px 40px;
        border-radius: 0;
        position: relative;
        background-color: $primary-color;
        border: none;
    }
    a.btn-primary:after{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -4px;
        right: -4px;
        background-color: white;
        z-index: -1;
        transition: 0.25s ease;
    }
    a.btn-primary:hover:after{
        bottom: 0;
        right: 0;
    }
}
}

.how_to_play .content_item_show{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  z-index: -1;
    .bg-item{
        position: absolute;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .title-content {
        position: absolute;
        font-size: 75px;
        right: 20%;
        top: 190px;
        color: #E5650E;
        font-family: "Monoton", cursive;
        font-style: italic;
        z-index: 9999;
    }
    .nav-tabs{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: none;
        position: absolute;
        padding: 0 100px;
        bottom: 20px;
        width: 100%;
        z-index: 10;
        .nav-item{
            position: relative;
            overflow: hidden;
            opacity: 0;
            transform: translateY(100%);
            transition: all 1s ease;
            .nav-link.active{
                background-color: transparent;
                border: none;

                .bg-tab{
                    img{
                        filter: hue-rotate(0);
                    }
                }
            }
            .nav-link{
                border: none;
               
            }
            .bg-tab{
                img{
                    filter: hue-rotate(250deg);
                    width: 100%;
                    max-width: 385px;
                }
            }
            .content-tab{
                position: absolute;
                top: 50%;
                left: 0 ;
                transform: translateY( -50%);
                font-size: 18px;
                color: white;
                font-weight: normal;
                padding: 50px 30px;
                font-weight: 400;
                display: inline-block;
                width: 100%;
                height: 100%;
    
                
            }
        }
        .nav-item:nth-child(2) {
            transition-delay:0.1s;
        }
        .nav-item:nth-child(3) {
            transition-delay:0.2s;
        }
        .nav-item:nth-child(4) {
            transition-delay:0.3s;
        }
    }
    .tab-content{
        z-index: 9;
        position: relative;
        width: 100%;
        height: 100%;
        .tab-pane{
            width: 100%;
            height: 100%;
            
        }
        .box-img{
            display: inline-block;
            height: 100%;
            img{
                object-fit: contain;
                object-position: top;
            }
        }
    }
}
.how_to_play .content-city-view.is-active{
z-index: 100;
}
.how_to_play .content_item_show.is-active .nav-tabs .nav-item{
    opacity: 1;
        transform: translateY(0);
}
.how_to_play .content-race.is-active{
z-index: 100;
}
.how_to_play a.btn--close.is-active{
    z-index: 101;
}
@media screen and (max-width: 1680px) {
   
}
@media screen and ( max-width: 1440px) {
    .how_to_play .heading-section .title {
        font-size: 60px;
    }
    .how_to_play .content_item_show .nav-tabs .nav-item .content-tab {
        font-size: 16px;
        font-weight: 400;
    }
    .how_to_play .content_item_show .nav-tabs .nav-item .nav-link {
       padding: 0 5px;
    }
    .how_to_play .box_overlay .character1 {
        transform: translate(-63%, -45%);
        width: 100%;
    }
    .how_to_play .box_overlay .character2 {
        width: 90%;
    }
}
@media screen and (max-width: 1280px) {

    .how_to_play .grid-boxed {
        grid-template-rows: 120vh;
    }
    .how_to_play .content_item_show .nav-tabs .nav-item .bg-tab img {
        height: 100%;
    }
    .how_to_play .content_item_show .nav-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 220px 220px;
        gap: 15px;
        width: fit-content;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
    }
    .how_to_play .content_item_show .nav-tabs .nav-item {
        width: auto;
    }
    .how_to_play .content_item_show .nav-tabs .nav-item .nav-link {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .how_to_play .content_item_show .nav-tabs .nav-item .nav-link .bg-tab {

            display: inline-block;
            width: 100%;
            height: 100%;
        
    }
    .how_to_play .box_overlay .character1 {
        transform: translate(-63%, -45%);
        width: 125%;
    }
    .how_to_play .box_overlay .character2 {
        width: 120%;
    }
}
@media screen and ( max-width: 991px) {
    .how_to_play .grid-boxed{
        grid-template-rows: 80vh;
    }
    .how_to_play .heading-section .title {
        font-size: 55px;
    }
    .how_to_play .content .title{
        font-size: 40px;
    }
    .how_to_play .grid-boxed {
        grid-template-rows: 100vh;
    }
    .how_to_play .content a.btn-primary {
        font-size: 18px;
        padding: 10px 25px;
    }
    .how_to_play .content .title {
        margin-bottom: 15px;
        font-size: 30px;
    }
    
}
@media screen and (max-width: 768px) {
    .how_to_play .heading-section .title {
        padding: 0 10px;
    }
    .how_to_play .heading-section .title::before {
        left:-10px;
    }
    .how_to_play .heading-section .title::after {
        left: -10px;
    }
    .how_to_play .content_item_show .nav-tabs {
        padding: 0 25px;
    }
    .how_to_play .grid-boxed {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: unset;
        grid-gap: 0;
    }
    .how_to_play .grid-boxed .grid-item {
        height: 33vh;
    }
    .how_to_play .grid-boxed .grid-item:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        background: radial-gradient(at 50% 0, #ff9100, transparent 70%);
        background-size: 100% 6px;
        background-repeat: no-repeat;
        z-index: 100;
        top: -1px;
    }
    .how_to_play .content {
        bottom: 30px;
    }
    .how_to_play .content .title {
        font-size: 40px;
    }
    .how_to_play .heading-section{
        top: 10px;
    }
    .how_to_play .heading-section .title {
        font-size: 40px;
    }
    .how_to_play .content_item_show .title-content {
        font-size: 45px;
        right: 10%;
        top: 120px;
    }
    .how_to_play .content_item_show .nav-tabs {
        grid-template-rows: 200px 200px;
    }
    .how_to_play a.btn--close {

        top: 50px;
        left: 50px;
    }
    .how_to_play .content a.btn-primary {
        font-size: 15px;
        padding: 8px 15px;
    }
    .how_to_play .box_overlay .character1 {
        transform: translate(-100%, -45%);
        width: 60%;
        object-fit: cover;
        object-position: top;
        height: 100%;
        min-height: 500px;
    }
    .how_to_play .box_overlay .character2 {
        object-fit: cover;
        object-position: 100% 14%;
        width: 70%;
    }
    .background-race {
        object-position: 100% 37%;
    }
    .how_to_play .content {
        text-align: right;
        padding-right: 25px;
    }
}
@media screen and (max-width: 580px) {
    .how_to_play .content_item_show .nav-tabs {
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-auto-flow: column;
        grid-auto-columns: 70%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .nav-item{
            scroll-snap-align: start;
        }
    }
    .how_to_play .content_item_show .nav-tabs::-webkit-scrollbar {
        display: none;
       }
    .how_to_play .content_item_show .nav-tabs .nav-item .content-tab {
        padding: 60px 20px;
    }
    .yourclass {
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
    .how_to_play .content_item_show .tab-content {
        z-index: 9;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .how_to_play a.btn--close {
        top: 20px;
        left: 20px;
    }
    .how_to_play a.btn--close {
        height: 40px;
        width: 40px;
        font-size: 12px;
    }
    .how_to_play a.btn--close:before {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 480px) {
    .how_to_play .heading-section .title {
        font-size: 30px;
    }
    .how_to_play .content .title {
        font-size: 30px;
    }
    .how_to_play .box_overlay .character1 {
        transform: translate(-65%, -35%);
        width: 80%;
        object-fit: cover;
        object-position: top;
        height: 100%;
        min-height: 500px;
    }
}
.how_to_play .content_item_show .tab-content .box-img img {
    animation: animation-rotage 1s infinite alternate;;
}

@keyframes animation-rotage {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(1.15);
    }
}