.intro-videos {
  background-image: url(../images/bg-section/osimi-bg-normal.jpg);
  position: relative;
  z-index: 1;
  .section-heading{
    .section-title{
      line-height: 1;
      .text-border{
        font-size: 100px;
        color: black;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
      }
      font-size: 80px;
      letter-spacing: 0px;
      color: $primary-color;
    }
  }
  .video-right {
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 21px 0 rgba(1, 1, 1, 0.5);
    z-index: 1;
    .bg-video {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      transition: 1s all;
    }
    .bg-video.hidden-bg {
      z-index: -1;
    }
    .content-videos {
      .video-earth {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .buttonbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 12;

      #play {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .pp-wrapper {
          i {
            line-height: 80px;
            width: 80px;
            height: 80px;
            color: white;
            background-color: transparent;
            text-align: center;
            font-size: 30px;
            border-radius: 10rem;
            border: 1px solid;
            transition: 0.3s all;
            text-shadow: 0 0 4px black;
            box-shadow: 0 0 4px black;
          }
        }
      }
      #play:hover i {
        color:lightgrey;
      }
      .play-show {
        cursor: pointer;
        i.fa-pause {
          display: none;
        }
        i.fa-play {
          display: block;
        }
      }
      .pause-show {
        text-shadow: 0 0 5px black;
        i.fa-pause {
          display: block;
          opacity: 0.1;
        }
        i.fa-play {
          display: none;
        }
      }
    }
  }
  
  .video-right:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.479);
    z-index: 12;
    opacity: 0;
    transition: 0.3s all;
  }
  .video-right:hover::before{
    opacity: 1;
  }
  .video-right:hover .bg-video{
    transform: scale(1.1);
  }
  .section-heading {
    h3{
      box-shadow: none;
    }
    .section-title {
    }
    .boxed-img {
      margin-bottom: 50px;
    }
    .btn {
      margin-top: 40px;
      font-size: 26px;
      text-transform: uppercase;
      font-family: "AquireRegular";
      font-weight: 600;
      border-radius: 20px;
    }
  }
}
.intro-videos .container-fluid {
  position: relative;
  z-index: 3;
}
.intro-videos .content-intro{
  padding: 0 25px;
  p{
    text-align: center;
  }
}
@media screen and (max-width: 1440px) {
  .intro-videos .section-heading .section-title .text-border {
font-size: 80px;
}
}
@media screen and (max-width: 1280px) {
  .intro-videos .section-heading .section-title .text-border {
    font-size: 70px;
}
.intro-videos .section-heading .section-title {
  font-size: 70px;
}
}
@media screen and (max-width: 1023px) {

  .intro-videos .section-heading .section-title {
    font-size: 60px;
  }
  .intro-videos .section-heading .boxed-img {
    margin-bottom: 30px;
}
.intro-videos .section-heading {
  margin-bottom: 0px;
}

}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {
  .intro-videos{
    padding-top: 0;
  }
  .intro-videos .section-heading {
    margin-bottom: 60px;
  }
.intro-videos .col-lg-6:first-child{
  margin-bottom: 50px;
}
.intro-videos .video-right {
  max-width: 650px;
  margin: auto;
}
}
@media screen and (max-width: 580px) {
  .intro-videos .section-heading .section-title .text-border {
    font-size: 55px;
}
.intro-videos .section-heading .btn {
font-size: 18px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}
}
@media screen and (max-width: 480px) {
.intro-videos .section-heading .section-title {
  font-size: 45px;
}
.intro-videos .section-heading .section-title .text-border {
  font-size: 45px;
}
}

@media screen and (max-width: 374px) {
.intro-videos .section-heading .btn {
  margin-top: 25px;
}
.btn-outline-primary {

  width: 185px;
  height: 50px;
  line-height: 50px;
}
.intro-videos .section-heading .section-title .text-border {
  font-size: 38px;
}
.intro-videos .section-heading .section-title {
  font-size: 38px;
}
}