.intro {
  background-image: url(../images/bg-section/bg-intro-mobile.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0;
  position: relative;
  .bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .boxed-img {
    // overflow: unset;
    img {
      object-fit: cover;
        opacity: 1;
        transition: 0.25s ease-in-out;
    }
  }
  .video-intro {
    height: 100vh;
    video#myVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      position: relative;
      z-index: 1;
    }
  }
  .content-intro {
    position: absolute;
    width: 100%;
    text-align: center;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.intro:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.7);
}
#intro .content-intro .boxed-img {
  position: relative;
}
#intro .content-intro .boxed-img:hover img {
opacity: 1;
filter: invert(1) drop-shadow(0 0 5px rgb(255, 0, 0));
transform: scale(1.02);
}
#intro .bg-bottom-intro{
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 250px;
  bottom: -100px;
  background-image: url(../images/bg-section/bg-bottom-intro-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 10;
  // filter: hue-rotate(100deg);
}
@media screen and (max-width: 1250px) {
  #intro .bg-bottom-intro{
    max-height: 180px;
  }
}
@media screen and (max-width: 1023px) {
.video-intro{
  height: 100vh;
}
}
@media screen and (max-width: 769px) {
  .intro .content-intro .title-primary {
    font-size: 70px;
}
.intro .content-intro {
  text-align: center;
}
.intro {
  height: 80vh;
}
}
@media screen and (max-width: 520px) {
  .intro .content-intro .title-primary {
    font-size: 55px;
}
.intro .content-intro {
  text-align: center;
  padding: 0 20px;
}
.intro .content-intro .btn--wp {
  margin-right: 40px;
}
.intro .content-intro .btn--primary {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
}
.intro .content-intro .btn--primary:after {
  right: -13px;
}
.intro {
  min-height: 65vh;
}
.video-intro {
  height: 65vh;
}
#intro .bg-bottom-intro{
max-height: 150px;
}
}

@media screen and (max-width: 374px) {
  .intro .content-intro .title-primary {
    font-size: 45px;
    margin-bottom: 10px;
}
.intro .content-intro .intro-desc {
  line-height: 24px;
  font-size: 14px;
}
.intro .content-intro .btn--primary {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
}
.intro .content-intro .btn--wp {
  margin-right: 25px;
}
.intro .content-intro {
  top: 65%;
}
}
