.intro {
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-image: url(../images/bg-section/osimi-bg-section-hero.jpg);
  .bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .boxed-img {
    img {
      object-fit: cover;
    }
  }
  .video-intro {
    video#myVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
  }
  .content-intro {
    position: absolute;
    width: 100%;
    text-align: center;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    .caption {
      font-size: 25px;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 800;
    }
    .title-primary {
      font-size: 120px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-family: 'pricedown';
      letter-spacing: 1px;
    }
    .animation-title {
      mix-blend-mode: multiply;
      animation-name: glitch-anim-text;
      animation-name: glitch-anim-text-overlay;
      animation-delay: 0.3s;
      animation-duration: 1.2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .intro-desc {
      line-height: 28px;
    }
    .btn--primary {
      text-transform: uppercase;
      color: black;
      padding: 10px 30px;
      transform: skewX(-15deg);
      border: 2px solid $primary-color;
      border-radius: 0;
      background-color: $primary-color;
      transition: 0.3s;
      position: relative;
      margin: 0;
      margin-top: 30px;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      outline: none;
      box-sizing: border-box;
      display: inline-block;
    }
    .btn--primary:after {
      position: absolute;
      content: "";
      width: 5px;
      height: calc(100% + 4px);
      background-color: $primary-color;
      right: -20px;
      top: -2px;
      transition: 0.3s all;
    }
    .btn--primary:hover:after {
      right: 0;
    }
    .btn--wp{
      margin-right: 70px;
    }
    .btn--play{
      background-color: transparent;
      border:  2px solid $primary-color;
      color: white;
    }
    .btn--wp:hover{
      background: transparent;
      color: white;
    }
    .btn--wp:hover::after{
      width: 1px;
    }
    .btn--play:hover{
      background: $primary-color;
      color: white;
    }
  }
}
.intro:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.7);
}


@media screen and (max-width: 1023px) {
.video-intro{
  height: 100vh;
}
}
@media screen and (max-width: 769px) {
  .intro .content-intro .title-primary {
    font-size: 70px;
}
.intro .content-intro {
  text-align: center;
}
}
@media screen and (max-width: 520px) {
  .intro .content-intro .title-primary {
    font-size: 55px;
}
.intro .content-intro {
  text-align: center;
  padding: 0 20px;
}
.intro .content-intro .btn--wp {
  margin-right: 40px;
}
.intro .content-intro .btn--primary {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
}
.intro .content-intro .btn--primary:after {
  right: -13px;
}
.intro {
  min-height: 65vh;
}
.video-intro {
  height: 65vh;
}
}

@media screen and (max-width: 374px) {
  .intro .content-intro .title-primary {
    font-size: 45px;
    margin-bottom: 10px;
}
.intro .content-intro .intro-desc {
  line-height: 24px;
  font-size: 14px;
}
.intro .content-intro .btn--primary {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
}
.intro .content-intro .btn--wp {
  margin-right: 25px;
}
.intro .content-intro {
  top: 65%;
}
}
