.intro-videos .wrapper {
  max-width: 1600px;
  width: 100%;
}
.intro-videos {
  margin-top: -150px;
  position: relative;
  z-index: 11;
  padding: 100px 0 0 0; 
  .section-inner{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;
  }
  img.img_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3px;
    left: 0;
    object-fit: fill;
    z-index:-1;
  }
  .section-heading {
    text-align: center;
    max-width: 560px;
    margin-left: 30px;
    background-image: radial-gradient(black 0%, transparent 65%);
    .title--h3{
      text-align: center;
    }
    .section-title {
      line-height: 1;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 40px;
      .text-border {
        font-size: 65px;
        color: black;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
      }
      font-size: 70px;
      letter-spacing: 0px;
      color: $primary-color;
    }
    .section-title:after {
      content: "\00a0";
      background-image: radial-gradient(
        at 50% 50%,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 75%
      );
      background-size: 100% 5px;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      left: 0;
      top: 102%;
    }
  }
  .video-right {
    position: relative;
    overflow: unset;
    z-index: 1;
    width: 40%;
    height: auto;

    .frame-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 11;
      
    }

    .bg-video.hidden-bg {
      z-index: -1;
    }
    .content-videos {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1999;
      .animation-shrink {
        z-index: 100;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        #ripple, #ripple2, #ripple3 {
          position: relative;
          border-radius: 9999px;
          border: 1px solid rgba(255, 121, 0, 0.7);
          -webkit-box-shadow: 0 0 20px rgba(255, 121, 0, 0.7);
          box-shadow: 0 0 20px rgba(255, 121, 0, 0.7);
          position: absolute;
          bottom: 50%;
          margin-bottom: -163px;
          right: 50%;
          margin-right: -163px;
          -webkit-animation: shrink 5s linear infinite;
          -moz-animation: shrink 5s linear infinite;
          -o-animation: shrink 5s linear infinite;
          animation: shrink 5s linear infinite;
          z-index: 1;
          background: rgba(255, 255, 255, 0.4);
      }
      #ripple2 {
        animation-delay: 1.5s;
    }
    #ripple3 {
      animation-delay: 2.5s;
  }
    }
      .video-btn {
        position: absolute;
        top: 50%;
        left: 50% !important;
        transform: translate(-50%, -50%);
        z-index: 1000;
        font-size: 40px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: 100rem;
        border-color: $primary-color;
    }
    }
  }
  .intro-videos .video-right .bg-video:last-child {
    filter: drop-shadow(0px 0px 5px orange);
}
  .section-heading {
    h3 {
      box-shadow: none;
    }
    .section-title {
    }
    .boxed-img {
      margin-bottom: 50px;
    }
    .btn {
      margin-top: 40px;
      font-size: 26px;
      text-transform: uppercase;
      font-family: "AquireRegular";
      font-weight: 600;
      border-radius: 4px;
    }
  }
}
.intro-videos .video-right .bg-video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999999;
}
.intro-videos .container-fluid {
  position: relative;
  z-index: 3;
  padding-top: 100px;
}
.intro-videos .content-intro {
  padding: 0 25px;
  p {
    text-align: center;
  }
}
.btn-outline-primary:hover span{
  animation: glitch-text .1s steps(1) 6 alternate forwards,glitch-blink .3s steps(1) 2;
}

.intro-videos .section-heading span.animation-text{
  position: relative;
  text-shadow: 2px 2px 0 white;
  animation: glitch-anim-skew .5s linear infinite alternate;
}
.intro-videos .section-heading span.animation-text:before {
content: attr(data-innertext);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
animation: glitch-anim-2-vertical 1.75s linear infinite alternate;
clip: auto;
z-index: 0;
color: gold;
}
.intro-videos .section-heading span.animation-text:after {
content: attr(data-innertext);
position: absolute;
top: -10px;
left: 0;
width: 100%;
height: 100%;
// animation: glitch-anim-2-vertical 1.75s linear infinite alternate;
// clip: auto;
z-index: 0;
color: rgba(255, 255, 255, 0.507);
clip: rect(0,95px,700px,40px);
    transform: translate3d(-20px,0,0);
    animation: glitch-anim-alt-1-vertical 1.75s linear infinite alternate;
    
}

@media screen and (max-width: 1440px) {
  .intro-videos .section-heading .section-title .text-border {
    font-size: 70px;
  }
  .intro-videos .video-right {
    width: 50%;
  }
  .intro-videos img.img_overlay {
    object-fit: cover;
}
}
@media screen and (max-width: 1280px) {
  .intro-videos .section-heading .section-title .text-border {
    font-size: 70px;
  }
  .intro-videos .section-heading .section-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .intro-videos .section-heading {
    margin: 30px 0;
}
  .intro-videos .video-right {
    width: 65%;
    margin: auto;
    margin-bottom: 80px;
  }
  .intro-videos .section-inner {
    flex-direction: column;
    height: auto;
    margin-top: 40px;
    .section-heading{
      order: 1;
    }
    .video-right{
      order: 2;
    }
}
.intro-videos .section-heading .section-title {
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.intro-videos .section-heading .section-title .text-border {
  margin-bottom: 0;
}
.intro-videos .section-heading {
  margin-bottom: 30px;
}
}

@media screen and (max-width: 1023px) {
  .intro-videos .section-heading .section-title {
    font-size: 60px;
  }
  .intro-videos .section-heading .boxed-img {
    margin-bottom: 30px;
  }


}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 991px) {
  .intro-videos {
    padding-top: 40px;
  }
  .intro-videos .col-lg-6:first-child {
    margin-bottom: 50px;
  }
  .intro-videos .video-right {
    width: 75%;
  }
}
@media screen and (max-width: 580px) {
  .intro-videos .section-heading .section-title .text-border {
    font-size: 55px;
  }
  .intro-videos .section-heading .btn {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  .intro-videos .section-heading .section-title {
    font-size: 45px;
  }
  .intro-videos .section-heading .section-title .text-border {
    font-size: 45px;
  }
  .intro-videos .video-right {
    width: 90%;
  }
  .intro-videos .section-inner {
    margin-top: 130px;
}
.intro-videos img.img_overlay {
  object-fit: cover;
  object-position: left;
}
}

@media screen and (max-width: 374px) {
  .intro-videos .section-heading .btn {
    margin-top: 25px;
  }
  .btn-outline-primary {
    width: 185px;
    height: 50px;
    line-height: 50px;
  }
  .intro-videos .section-heading .section-title .text-border {
    font-size: 38px;
  }
  .intro-videos .section-heading .section-title {
    font-size: 38px;
  }
}
