/* Error: expected "{".
 *    ,
 * 79 |     box-shadow: 3px 6px 10px rgba(127, 127, 127, 0.5);
 *    |                                                      ^
 *    '
 *   assets\sass\_header.scss 79:54  @import
 *   assets\sass\main.scss 4:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 79 \2502      box-shadow: 3px 6px 10px rgba(127, 127, 127, 0.5);\d\a    \2502                                                       ^\a    \2575 \a   assets\\sass\\_header.scss 79:54  @import\a   assets\\sass\\main.scss 4:9       root stylesheet';
}
